<%= render "shared/header" %>

<div class="calc-contents">
  <header class="calc-header">
  </header>
  <%# 情報 %>
  <% @calculations.each do |calculation|%>
    <% if user_signed_in? && current_user.id == calculation.user_id%>
      <div class="calc-main">
        <%= form_with url:calculation_path(calculation), method: :delete, local: true do |f| %>
          <div class="created-at"> 保存日時：<%=l calculation.created_at%> </div>
          <div class="calc-title-one">総数</div>
          <div class="total">
            <div class="total-payment">
              <span>総支払額</span>
              <%= f.text_field :hoge, value:calculation.total_payment, class:"total-payment-input", readonly: true %>円
            </div>
            <div class="total-people">
              <span>総人数</span>
              <%= f.text_field :total_people, value:calculation.total_people, class:"total-people-input", readonly: true%>人
            </div>
          </div>
            <div class="calc-title-two">計算結果</div>
            <div class="description">一人あたりの支払額は十の位で切り上げ、比率は小数点第二位で切り捨てを行なっています。</div>
          <%# 情報 %>
        
          <%# 計算 %>
          <div class="group">
            <div class="group-type">
              <span>グループ名</span>
            </div>

            <div class="group-type">
              <span>&nbsp;&nbsp;人数</span>
            </div>

            <div class="group-type">
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;比率</span>
            </div>

            <div class="group-type">
              <span>&nbsp;&nbsp;&nbsp;一人あたり</span>
            </div>
          </div>

          <%# グループ１ %>
        
            <div class="group">
              <div class="group-text">
                <span class="group-name"></span>
                <%= f.text_field :hoge, value:calculation.group_name_one, class:"group-input-name", readonly: true  %>
              </div>

              <div class="group-text">
              <span class="indispensable">&nbsp;&nbsp;&nbsp;</span>
                <%= f.text_field :hoge, value:calculation.people_one, class:"group-input", readonly: true %>人
              </div>

              <div class="group-text">
              <span class="indispensable">&nbsp;&nbsp;&nbsp;</span>
              <%= f.text_field :hoge, value:calculation.ratio_one, class:"group-input", readonly: true %>%
              </div>

              <div class="group-text">
              <span class="indispensable">&nbsp;&nbsp;&nbsp;</span>
              <%= f.text_field :hoge, value:calculation.price_one, class:"group-input", id:"group-price-one", readonly: true %>円
              </div>
            </div>

          <%# グループ１ %>

          <%# グループ2 %>
            <div class="group">
              <div class="group-text">
                <span class="group-name"></span>
                <%= f.text_field :hoge, value:calculation.group_name_two, class:"group-input-name", readonly: true  %>
              </div>

              <div class="group-text">
              <span class="indispensable">&nbsp;&nbsp;&nbsp;</span>
                <%= f.text_field :hoge, value:calculation.people_two, class:"group-input", readonly: true %>人
              </div>

              <div class="group-text">
              <span class="indispensable">&nbsp;&nbsp;&nbsp;</span>
              <%= f.text_field :hoge, value:calculation.ratio_two, class:"group-input", readonly: true %>%
              </div>

              <div class="group-text">
              <span class="indispensable">&nbsp;&nbsp;&nbsp;</span>
              <%= f.text_field :hoge, value:calculation.price_two, class:"group-input", id:"group-price-one", readonly: true %>円
              </div>
            </div>
          <%# グループ２ %>

          <%# グループ3 %>
            <div class="group">
              <div class="group-text">
                <span class="group-name"></span>
                <%= f.text_field :hoge, value:calculation.group_name_three, class:"group-input-name", readonly: true  %>
              </div>

              <div class="group-text">
              <span class="indispensable">&nbsp;&nbsp;&nbsp;</span>
                <%= f.text_field :hoge, value:calculation.people_three, class:"group-input", readonly: true %>人
              </div>

              <div class="group-text">
              <span class="indispensable">&nbsp;&nbsp;&nbsp;</span>
              <%= f.text_field :hoge, value:calculation.ratio_three, class:"group-input", readonly: true %>%
              </div>

              <div class="group-text">
              <span class="indispensable">&nbsp;&nbsp;&nbsp;</span>
              <%= f.text_field :hoge, value:calculation.price_three, class:"group-input", readonly: true %>円
              </div>
            </div>
          <%# グループ3 %>

          <%# あまり %>
            <div class="group-invisible">
              <span class="indivisible-number">あまり</span>
              <%= f.text_field :hoge, value:calculation.indivisible_number, class:"group-input", readonly: true %>円
            </div>
          <%# あまり %>
      
          <%# 計算 %>

          <div class="btn-contents">
          <%= f.submit "削除",class:"red-btn" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
